In [1]:
import numpy as np
import pandas as pd

In [23]:
d1=pd.read_csv('/content/CSE.csv')
d2=pd.read_csv('/content/IT.csv')
d3=pd.read_csv('/content/STUDENT.CSV')
print(d1)
print(d2)
print(d3)

     Regd.No    CN   DAA   AFL    OE  Professional Elective
0   Y20CS001  10.0  15.0  11.0  16.0                   12.0
1   Y20CS002  16.0  14.0  15.0  10.0                   13.0
2   Y20CS003  15.0  12.0  32.0  12.0                    NaN
3   Y20CS004  12.0   NaN  12.0   NaN                   17.0
4   Y20CS005  14.0  16.0  13.0  25.0                    6.0
5   Y20CS006   9.0  17.0   9.0  14.0                   23.0
6   Y20CS007  13.0   3.0   NaN  17.0                   16.0
7   Y20CS008  20.0  12.0  15.0  16.0                   11.0
8   Y20CS009  17.0  14.0  12.0  10.0                   12.0
9   Y20CS010   5.0  16.0  14.0   9.0                   15.0
10  Y20CS011   NaN  13.0   9.0  16.0                   14.0
11  Y20CS012  12.0  15.0  13.0  13.0                    NaN
12  Y20CS013  13.0  24.0  10.0  17.0                   10.0
13  Y20CS014   9.0  12.0  15.0  14.0                   16.0
14  Y20CS015  17.0  14.0   8.0  13.0                   13.0
     Regd.No   AFL    CN   DAA     PE
0   Y20IT001  15.0  12.0  14.0   12.0
1   Y20IT002  13.0  13.0  15.0   15.0
2   Y20IT003  12.0  14.0  16.0   14.0
3   Y20IT004  14.0   NaN  17.0   16.0
4   Y20IT005  16.0  18.0  13.0   18.0
5   Y20IT006   9.0  15.0  12.0   17.0
6   Y20IT007  10.0  22.0  10.0    3.0
7   Y20IT008  11.0  12.0  11.0  125.0
8   Y20IT009  13.0  16.0  16.0    NaN
9   Y20IT010  12.0  14.0   NaN    8.0
10  Y20IT011  14.0  17.0  14.0   14.0
11  Y20IT012  15.0  13.0  17.0   17.0
12  Y20IT013   NaN  11.0  13.0   11.0
13  Y20IT014  12.0  10.0  12.0   13.0
14  Y20IT015  16.0  12.0  15.0   16.0
     Regd.No                                       Name Sex  Course Branch  \
0   Y20CS001      ADAPA HEMANTH VENKATA SAI PAVAN KUMAR   M  B.Tech    CSE
1   Y20CS002                     ALAPARTHI VIVEK MADHAV   F  B.Tech    CSE
2   Y20CS003                                ALIFA SHAIK   F  B.Tech    CSE
3   Y20CS004                             ALLA NEEHARIKA   M  B.Tech    CSE
4   Y20CS005                                   AVYAKTHA   F  B.Tech    CSE
5   Y20CS006                             AMBATI MEGHANA   M  B.Tech    CSE
6   Y20CS007                            ANCHA PRABANDHA   M  B.Tech    CSE
7   Y20CS008                            APPANA HEMA SRI   F  B.Tech    CSE
8   Y20CS009                    ARIKATLA VIJAYA LAKSHMI   F  B.Tech    CSE
9   Y20CS010                       AVULA CHAYA PRIYANKA   M  B.Tech    CSE
10  Y20CS011                       AVULAPATI ANIL KUMAR   F  B.Tech    CSE
11  Y20CS012                             BALAGA LAVANYA   M  B.Tech    CSE
12  Y20CS013                            BANDLA BHAVITHA   F  B.Tech    CSE
13  Y20CS014                              BEENA VASANTH   F  B.Tech    CSE
14  Y20CS015                             BELLAM ABHINAY   M  B.Tech    CSE
15  Y20IT001                           ADAPALA YAVANIKA   M  B.Tech     IT
16  Y20IT002                          AMBATIPUDI SWETHA   M  B.Tech     IT
17  Y20IT003                               ARE SRILATHA   F  B.Tech     IT
18  Y20IT004                          ARVAPALLI SUBHASH   F  B.Tech     IT
19  Y20IT005                           ATLA RAGHAVENDRA   M  B.Tech     IT
20  Y20IT006                          AVULA GOWTHAM SAI   M  B.Tech     IT
21  Y20IT007  BALABHADRA LAKSHMI VENKATA HANUMA ABHIGNA   F  B.Tech     IT
22  Y20IT008                BANAVATHU LAKSHMIDURGA NAIK   F  B.Tech     IT
23  Y20IT009                BATCHU VENKATA VIBHAS GUPTA   F  B.Tech     IT
24  Y20IT010                           BATCHU YASASWINI   F  B.Tech     IT
25  Y20IT011                        BATHINI BALAKRISHNA   M  B.Tech     IT
26  Y20IT012                        BATTINENI HIMAVANTH   F  B.Tech     IT
27  Y20IT013                     BEERAKA REVANTH NAGESH   M  B.Tech     IT
28  Y20IT014                            BEZAWADA LOKESH   F  B.Tech     IT
29  Y20IT015                             BITRA TEJA SRI   M  B.Tech     IT

           Address  EAMCET RANK
0           GUNTUR         2000
1           GUNTUR         1900
2           GUNTUR         3126
3           TENALI         2500
4        VINUKONDA         8000
5     NARASARAOPET         4012
6           GUNTUR         5001
7           GUNTUR         1201
8        VINUKONDA        17000
9       VIJAYAWADA         2600
10          TENALI         3201
11          GUNTUR         1704
12    NARASARAOPET         3456
13      VIJAYAWADA         1965
14       VINUKONDA        45000
15  CHILAKALURIPET        10000
16          GUNTUR         9875
17          GUNTUR        12563
18    NARASARAOPET        22232
19  CHILAKALURIPET        13000
20          TENALI         8963
21      VIJAYAWADA        15000
22       VINUKONDA        56000
23    NARASARAOPET        17006
24          TENALI        21006
25  CHILAKALURIPET        19007
26          GUNTUR        36000
27      VIJAYAWADA         5000
28          TENALI        19321
29       VINUKONDA        19000

1.	Combine the CSE & IT data and display the data

In [36]:
d1.rename(columns = {'Professional Elective':'PE'}, inplace = True)
d_new=d1.merge(d2,how ='outer')
print(d_new)

     Regd.No    CN   DAA   AFL    OE     PE
0   Y20CS001  10.0  15.0  11.0  16.0   12.0
1   Y20CS002  16.0  14.0  15.0  10.0   13.0
2   Y20CS003  15.0  12.0  32.0  12.0    NaN
3   Y20CS004  12.0   NaN  12.0   NaN   17.0
4   Y20CS005  14.0  16.0  13.0  25.0    6.0
5   Y20CS006   9.0  17.0   9.0  14.0   23.0
6   Y20CS007  13.0   3.0   NaN  17.0   16.0
7   Y20CS008  20.0  12.0  15.0  16.0   11.0
8   Y20CS009  17.0  14.0  12.0  10.0   12.0
9   Y20CS010   5.0  16.0  14.0   9.0   15.0
10  Y20CS011   NaN  13.0   9.0  16.0   14.0
11  Y20CS012  12.0  15.0  13.0  13.0    NaN
12  Y20CS013  13.0  24.0  10.0  17.0   10.0
13  Y20CS014   9.0  12.0  15.0  14.0   16.0
14  Y20CS015  17.0  14.0   8.0  13.0   13.0
15  Y20IT001  12.0  14.0  15.0   NaN   12.0
16  Y20IT002  13.0  15.0  13.0   NaN   15.0
17  Y20IT003  14.0  16.0  12.0   NaN   14.0
18  Y20IT004   NaN  17.0  14.0   NaN   16.0
19  Y20IT005  18.0  13.0  16.0   NaN   18.0
20  Y20IT006  15.0  12.0   9.0   NaN   17.0
21  Y20IT007  22.0  10.0  10.0   NaN    3.0
22  Y20IT008  12.0  11.0  11.0   NaN  125.0
23  Y20IT009  16.0  16.0  13.0   NaN    NaN
24  Y20IT010  14.0   NaN  12.0   NaN    8.0
25  Y20IT011  17.0  14.0  14.0   NaN   14.0
26  Y20IT012  13.0  17.0  15.0   NaN   17.0
27  Y20IT013  11.0  13.0   NaN   NaN   11.0
28  Y20IT014  10.0  12.0  12.0   NaN   13.0
29  Y20IT015  12.0  15.0  16.0   NaN   16.0

2.	Display all CSE students’ marks along with personal information.

In [37]:
d_new2=d1.merge(d3)
print(d_new2)

     Regd.No    CN   DAA   AFL    OE    PE  \
0   Y20CS001  10.0  15.0  11.0  16.0  12.0
1   Y20CS002  16.0  14.0  15.0  10.0  13.0
2   Y20CS003  15.0  12.0  32.0  12.0   NaN
3   Y20CS004  12.0   NaN  12.0   NaN  17.0
4   Y20CS005  14.0  16.0  13.0  25.0   6.0
5   Y20CS006   9.0  17.0   9.0  14.0  23.0
6   Y20CS007  13.0   3.0   NaN  17.0  16.0
7   Y20CS008  20.0  12.0  15.0  16.0  11.0
8   Y20CS009  17.0  14.0  12.0  10.0  12.0
9   Y20CS010   5.0  16.0  14.0   9.0  15.0
10  Y20CS011   NaN  13.0   9.0  16.0  14.0
11  Y20CS012  12.0  15.0  13.0  13.0   NaN
12  Y20CS013  13.0  24.0  10.0  17.0  10.0
13  Y20CS014   9.0  12.0  15.0  14.0  16.0
14  Y20CS015  17.0  14.0   8.0  13.0  13.0

                                     Name Sex  Course Branch       Address  \
0   ADAPA HEMANTH VENKATA SAI PAVAN KUMAR   M  B.Tech    CSE        GUNTUR
1                  ALAPARTHI VIVEK MADHAV   F  B.Tech    CSE        GUNTUR
2                             ALIFA SHAIK   F  B.Tech    CSE        GUNTUR
3                          ALLA NEEHARIKA   M  B.Tech    CSE        TENALI
4                                AVYAKTHA   F  B.Tech    CSE     VINUKONDA
5                          AMBATI MEGHANA   M  B.Tech    CSE  NARASARAOPET
6                         ANCHA PRABANDHA   M  B.Tech    CSE        GUNTUR
7                         APPANA HEMA SRI   F  B.Tech    CSE        GUNTUR
8                 ARIKATLA VIJAYA LAKSHMI   F  B.Tech    CSE     VINUKONDA
9                    AVULA CHAYA PRIYANKA   M  B.Tech    CSE    VIJAYAWADA
10                   AVULAPATI ANIL KUMAR   F  B.Tech    CSE        TENALI
11                         BALAGA LAVANYA   M  B.Tech    CSE        GUNTUR
12                        BANDLA BHAVITHA   F  B.Tech    CSE  NARASARAOPET
13                          BEENA VASANTH   F  B.Tech    CSE    VIJAYAWADA
14                         BELLAM ABHINAY   M  B.Tech    CSE     VINUKONDA

    EAMCET RANK
0          2000
1          1900
2          3126
3          2500
4          8000
5          4012
6          5001
7          1201
8         17000
9          2600
10         3201
11         1704
12         3456
13         1965
14        45000

3.	Print all students Regd.No, Name and professional elective.

In [40]:
d_new3=d_new.merge(d3)
print(d_new3.filter(['Regd.No','Name','PE']))

     Regd.No                                       Name     PE
0   Y20CS001      ADAPA HEMANTH VENKATA SAI PAVAN KUMAR   12.0
1   Y20CS002                     ALAPARTHI VIVEK MADHAV   13.0
2   Y20CS003                                ALIFA SHAIK    NaN
3   Y20CS004                             ALLA NEEHARIKA   17.0
4   Y20CS005                                   AVYAKTHA    6.0
5   Y20CS006                             AMBATI MEGHANA   23.0
6   Y20CS007                            ANCHA PRABANDHA   16.0
7   Y20CS008                            APPANA HEMA SRI   11.0
8   Y20CS009                    ARIKATLA VIJAYA LAKSHMI   12.0
9   Y20CS010                       AVULA CHAYA PRIYANKA   15.0
10  Y20CS011                       AVULAPATI ANIL KUMAR   14.0
11  Y20CS012                             BALAGA LAVANYA    NaN
12  Y20CS013                            BANDLA BHAVITHA   10.0
13  Y20CS014                              BEENA VASANTH   16.0
14  Y20CS015                             BELLAM ABHINAY   13.0
15  Y20IT001                           ADAPALA YAVANIKA   12.0
16  Y20IT002                          AMBATIPUDI SWETHA   15.0
17  Y20IT003                               ARE SRILATHA   14.0
18  Y20IT004                          ARVAPALLI SUBHASH   16.0
19  Y20IT005                           ATLA RAGHAVENDRA   18.0
20  Y20IT006                          AVULA GOWTHAM SAI   17.0
21  Y20IT007  BALABHADRA LAKSHMI VENKATA HANUMA ABHIGNA    3.0
22  Y20IT008                BANAVATHU LAKSHMIDURGA NAIK  125.0
23  Y20IT009                BATCHU VENKATA VIBHAS GUPTA    NaN
24  Y20IT010                           BATCHU YASASWINI    8.0
25  Y20IT011                        BATHINI BALAKRISHNA   14.0
26  Y20IT012                        BATTINENI HIMAVANTH   17.0
27  Y20IT013                     BEERAKA REVANTH NAGESH   11.0
28  Y20IT014                            BEZAWADA LOKESH   13.0
29  Y20IT015                             BITRA TEJA SRI   16.0

4.	Identify the students whose DAA marks are >18.

In [41]:
d_new3[d_new3['DAA']>18]

,Regd.No,CN,DAA,AFL,OE,PE,Name,Sex,Course,Branch,Address,EAMCET RANK
12,Y20CS013,13.0,24.0,10.0,17.0,10.0,BANDLA BHAVITHA,F,B.Tech,CSE,NARASARAOPET,3456

5.	Display the names and EAMCET ranks of the students who got minimum 12 marks in all courses.

In [42]:
p=d_new3[(d_new3['AFL']>10) & (d_new3['CN']>10) & (d_new3['DAA']>10) & (d_new3['OE']>10) & (d_new3['PE']>10)]
p.filter(['Name','EAMCET RANK'])

              Name  EAMCET RANK
7  APPANA HEMA SRI         1201

6.	Calculate mean value of all the subject’s marks.

In [43]:
d_new3['avg']=d_new3[['CN','AFL','OE','PE','DAA']].mean(axis=1)
print(d_new3.filter(['Regd.No','avg']))

     Regd.No        avg
0   Y20CS001  12.800000
1   Y20CS002  13.600000
2   Y20CS003  17.750000
3   Y20CS004  13.666667
4   Y20CS005  14.800000
5   Y20CS006  14.400000
6   Y20CS007  12.250000
7   Y20CS008  14.800000
8   Y20CS009  13.000000
9   Y20CS010  11.800000
10  Y20CS011  13.000000
11  Y20CS012  13.250000
12  Y20CS013  14.800000
13  Y20CS014  13.200000
14  Y20CS015  13.000000
15  Y20IT001  13.250000
16  Y20IT002  14.000000
17  Y20IT003  14.000000
18  Y20IT004  15.666667
19  Y20IT005  16.250000
20  Y20IT006  13.250000
21  Y20IT007  11.250000
22  Y20IT008  39.750000
23  Y20IT009  15.000000
24  Y20IT010  11.333333
25  Y20IT011  14.750000
26  Y20IT012  15.500000
27  Y20IT013  11.666667
28  Y20IT014  11.750000
29  Y20IT015  14.750000